body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom: 2000;
    padding: 0;
}

* {
    font-family: 'Varela Round', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#student-picture {
    display: flex;
    justify-content: center;
}

textarea {
    resize: vertical;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;
    width: 300px;
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 15vh;
    padding-bottom: 10vh;
}

.container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.col {
    display:grid;
    align-items: center;
    text-align: center;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 0;
}

@media screen and (max-width: 471px) {
    .grid-item {
        width: 80vw;
    }
}

.grid-item img {
    display: inline;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    align-items: center;
}

/* Scrollbar styles */

.header {
    display:flex;
    width: "100vw";
    background-size:auto;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    margin-top: 0vw;
    top: 0;
    position: fixed;    
}

.header_img {
    max-width:100%;
    height:auto;
}

footer {
    max-width:100%;   
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    
}

.footer_img{
    max-width:100%;   
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

